body {
    background: url('43362.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.audio {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}